<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <!-- Settings for the URL Rewriter Module -->
    <ParTech.Modules.UrlRewriter>
      
      <!-- Indicates whether the URL Rewriter Module is enabled. -->
      <enabled>true</enabled>

      <!-- Sitecore ID of the item that contains the URL rewrite rules. -->
      <rulesFolderId>{CDA1B192-E220-4445-8687-C75DD3B6706D}</rulesFolderId>

      <!-- Indicates whether to remove the trailing slash from the URL for all requests. -->
      <removeTrailingSlash>true</removeTrailingSlash>

      <!-- Indicates whether an info entry must be added to the Sitecore log every time a URL is rewritten  -->
      <logRewrites>true</logRewrites>
      
      <!-- Name of the core database. This is used to identify requests coming from the Sitecore Client. -->
      <coreDatabase>core</coreDatabase>

      <!-- 
        Comma-separated list with site names for which URL rewriting should never be applied.
        This is mainly used to prevent rewriting to be applied in the Sitecore Client.
        If you don't specify any sites, the "shell" and "login" site will be ignored by default.
      -->
      <ignoreForSites>shell,login,admin,service,modules_shell</ignoreForSites>
      
    </ParTech.Modules.UrlRewriter>

    
    <!-- Custom pipeline processors -->
    <pipelines>
      <httpRequestBegin>
        <processor type="ParTech.Modules.UrlRewriter.Pipelines.UrlRewriteHandler, ParTech.Modules.UrlRewriter"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.DatabaseResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <getContentEditorWarnings>
        <processor type="ParTech.Modules.UrlRewriter.Pipelines.ApplyHelpNotifications, ParTech.Modules.UrlRewriter" />
      </getContentEditorWarnings>
    </pipelines>
    

    <!-- Define the clear cache event -->
    <events>
      <event name="urlrewriter:clearcache">
        <handler type="ParTech.Modules.UrlRewriter.Events.ClearCacheEventHandler, ParTech.Modules.UrlRewriter" method="OnClearCache" />
      </event>
    </events>
    

    <!-- Register the clear cache event in the EventQueue -->
    <hooks>
      <hook type="ParTech.Modules.UrlRewriter.Hooks.ClearCacheHook, ParTech.Modules.UrlRewriter" />
    </hooks>

    
    <!-- This command is only required on Content Management (a.k.a. Authoring) instances -->
    <commands>
      <command name="urlrewriter:clearcache" type="ParTech.Modules.UrlRewriter.Commands.ClearCache, ParTech.Modules.UrlRewriter" />
    </commands>

  </sitecore>
</configuration>